html, body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}

.auth-form {
  width: 30vw;
  margin-left: 35vw;
  height: fit-content;
  margin-top: 10vh;
  padding: 1%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1% / 2%;
}

.auth-form form {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}