html, body {
  font-family: 'BedsteadRegular';
  /* font-weight: normal; */
  font-style: normal;
  margin: 0%;
  padding: 0%;
}

.auth-form {
  width: 30vw;
  margin-left: 35vw;
  height: fit-content;
  margin-top: 10vh;
  padding: 1%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1% / 2%;
}

.auth-form form {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switch-auth-button {
  cursor: pointer;
}

.header-container {
  width: 100vw;
  height: 10vh;
  font-size: 1vw;
  border-bottom: 2px solid #586A6A;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-third {
  text-align: center;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-options-container {
  margin: 0%;
  padding: 0%;
  height: 60vh;
  margin-top: 10vh;
  /* background-color: beige; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.homepage-paper-option {
  width: 25vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.homepage-paper-option p {
  margin: 0%;
}

.header-third p {
  cursor: pointer;
  font-size: 3vh;
}

.campaign-selection-list {
  width: 60vw;
  margin-left: 20vw;
  margin-top: 0vh;
  list-style: none;
  overflow-y: scroll;
  height: 70vh;
  row-gap: 10px;
}

.campaign-selection-list::-webkit-scrollbar {
  display: none;
}

.campaign-list-item {
  margin-bottom: 8vh;
  width: 90%;
  height: 25vh;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 1%/5%;
  transition: all .4s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.campaign-list-item:hover {
  /* color: white; */
  /* background-color: #ef5350; */
  /* font-weight: 900; */
  /* cursor: pointer; */
}

.campaign-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 0%;
  justify-content: center;
}

.campaign-title p {
  margin: 1%;
}

.campaign-title p:first-child {
  font-size: 3vmin;
}

.campaign-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campaign-details p {
  margin: 2%;
}

.options-header {
  width: 100%;
  text-align: center;
  /* margin: 1%; */
}

.chat-container {
  width: 20vw;
  padding-right: 3%;
  border: 1px solid #586A6A;
  border-top: 0px;
  border-bottom: 0px;
  height: 89vh;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.chat-container-container {
  position: absolute;
  z-index: 10;
}

.new-chat-item {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.chat-logs {
  height: 100%;
  list-style: none;
  overflow-y: scroll;
  padding-left: 3%;
}

.chat-logs::-webkit-scrollbar {
  display: none;
}

.chat-log-item p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: black;
}

.chat-log-item {
  cursor: default;
}

.owned-chat-item p {
  font-weight: 600;
  font-style: italic;
}

.closed {
  visibility: hidden;
  z-index: -10;
}

.chat-control-icon-open {
  position: absolute;
  left: 20.5vw;
  cursor: pointer;
  z-index: 10;
}

.chat-control-icon-closed {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.session-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #586A6A;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.campaigns-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.campaign-details {
  width: 100%;
}

.campaign-details h2 {
  text-align: center;
}

.campaign-details-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 70vh;
  border-radius: 1% / 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.campaign-details-sub {
  width: 30%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.campaign-details-sub h3 {
  text-align: center;
}

.campaign-members-list {
  height: 45vh;
  width: 25vw;
  border-radius: 1% / 2%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  list-style: none;
  text-align: center;
  padding: 0;
  overflow-y: scroll;
}

.campaign-members-list::-webkit-scrollbar {
  display: none;
}

.campaign-add-user-container {
  display: flex;
  flex-direction: row;
}

.campaignUsersArrayItem {
  font-size: 200%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.character-container {
  width: 30vw;
  border: 1px solid #586A6A;
  border-top: 0px;
  border-radius: 2% / 3%;
  /* border-bottom: 0px; */
  min-height: 40vh;
  max-height: fit-content;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.character-container-container {
  position: absolute;
  right: 0;
  z-index: 10;
}

.canvas-character-display-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.canvas-character-entry {
  font-size: 100%;
  width: 90%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* column-gap: 5%; */
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 3%;
  /*  border-radius: 2% / 10%; */
}

.character-details-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 70vh;
  border-radius: 1% / 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3%;
  padding-top: 1%;
  overflow-y: scroll;
}

.character-details-container::-webkit-scrollbar {
  display: none;
}

.character-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-details h2 {
  text-align: center;
}

.character-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2%;
  align-items: center;
  height: 10%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 80%;
  border-radius: 1% /10%;
  font-size: 150%;
}

.character-list-item-delete {
  cursor: pointer;
}

.no-characters-container {
  text-align: center;
}

.character-spawn-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.character-spawn-selection-item {
  padding: 2%;
}

.character-spawn-selection-item:hover {
  opacity: 0.75;
  cursor: pointer;
}

.character-list-avatar-image {
  width: 5%;
}

.avatar-selection-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  padding: 0%;
  width: 100%;
}

.avatar-selection-list-item {
  cursor: pointer;
  width: 64px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10%;
}

.chosen-avatar {
  border: 1px solid red;
  border-radius: 10%;
}

.character-hide-icon {
  position: absolute;
  z-index: 10;
  right: 30vw;
  cursor: pointer;
}

.character-open-icon {
  position: absolute;
  z-index: 10;
  right: 1px;
  cursor: pointer;
}


.sidebar-avatar {
  width: 10%;
}

.health-bar-container {
  margin-right: 6%;
  min-width: 40%;
  max-width: 40%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  /* background-color: red; */
}

.health-reds {
  width: 10%;
  height: 100%;
  background-color: red;
}

.health-greens {
  min-width: 10%;
  height: 100%;
  background-color: green;
}

.grower {
  flex-grow: 3;
}

.health-bar-container-stats {
  padding-right: 2%;
  padding-left: 2%;

}

.health-management-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  cursor: pointer;
}

.health-management-container svg {

  font-size: 100%;

}

.display-options-container {
  width: 30vw;
  height: 5vw;
  background-color: white;
  position: absolute;
  left: 35vw;
  z-index: 10;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  border-radius: 2% / 10%;
}

.open-options {
  position: absolute;
  right: 50%;
  cursor: pointer;
}

.close-options {
  position: absolute;
  right: 50%;
  top: 21vh;
  cursor: pointer;
}

.display-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.dm-toolbox-open {

  position: absolute;
  z-index: 10;
  background-color: red;
  color: white;
  cursor: pointer;
  left: 50%;
  bottom: 1%;
  border-radius: 15%;
  
}

.dm-toolbox-close {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  background-color: red;
  color: white;
  left: 50%;
  bottom: 20%;
  border-radius: 15%;
}

.dm-toolbox-container {
  background-color: white;
  position: absolute;
  z-index: 10;
  height: 20%;
  bottom: 0%;
  right: 21%;
  width: 58%;

  border-radius: 1% / 5%;
}

.canvas-element-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dm-toolbox-container img {
  cursor: pointer;
}

.dm-toolbox-image {
  width: 100px;
  border: 1px solid white;
  padding: 1%;
}

.dm-toolbox-image-terrain {
  /* width: auto; */
  width: 84px;
  height: auto;


}

.dm-toolbox-image-selected {

  border: 1px solid red;
  border-radius: 5%;

}